
<%- include("header"); -%>

<h2>kpataka has master ejs template</h2>
<ul>
<li>God is the source of my supply</li>
<li>All my financials and other needs</li>
<li>Are met at every moment of time </li>
<li>And point of space </li>
<li>There is always a Divine surplus</li>
</ul>
<%- include("footer");  -%>